@import '~antd/dist/antd.css';
<link rel="stylesheet" href="https://use.typekit.net/bum5vme.css">


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-card-body {
  padding: 0;
}

.ant-table.ant-table-small .ant-table-title, .ant-table.ant-table-small .ant-table-footer, .ant-table.ant-table-small .ant-table-thead > tr > th, .ant-table.ant-table-small .ant-table-tbody > tr > td, .ant-table.ant-table-small tfoot > tr > th, .ant-table.ant-table-small tfoot > tr > td {
  padding: 12px 24px;
}

.ant-table-tbody > tr > td {

  border-bottom: 3px solid #E9EAF2;
}

.barchart {
transform: rotate(90deg);
margin: 0px 0;
position: absolute;
bottom: 78px;
left: 850px;
display: inline-block;
height: 0px;
transform-origin: top left;
}

.barchart  .ant-table-tbody > tr > td {
  background: #27284b !important;
  padding: 2px 0 !important;
  border: none !important;
}

.barchart thead {
  display: none;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header {
  background: #1C1D3F;
  padding: 10px 20px;
  align-items: center;
}

.ant-layout {
  background: #E9EAF2;
}

.flexwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-table.ant-table-small td a { 

  font-family: monospace;

}

.ant-table-small .ant-table-thead > tr > th {
  background-color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}


 a.button {
        padding: 12px 30px;
        background: #383A64;
        border-radius: 6px;
        color: white;
        text-decoration: none;
        transition: all .2s ease;
        transform: scale(1);
        display: inline-block;
      }

      a.button:hover {
        transform: scale(1.05);
        background:#454677;

      }

      .ant-tag {
        font-size: 12px;
        border: none;
        font-weight: 600;
        padding: 2px 10px 3px;
        border-radius: 4px;
min-width: 106px;
text-align: center;
      }

        h3 {
font-size: 12px;
color: #FFFFFF;
letter-spacing: 1.81px;
font-weight: 400;
text-transform: uppercase;
      }


      .ant-table-container table > thead  {
        font-family: soleil, sans-serif;
      }

      .ant-layout-footer {
        background: #27284B;
      }

      .ant-input-affix-wrapper > input.ant-input {
        background: none;
        color: white;
      }

            .ant-input-affix-wrapper > input.ant-input::placeholder {
              color: #585A8C;
}

.ant-table-thead > tr > th {
  border-bottom: 3px solid #E9EAF2;
}


      hr {
        border: none;
        width: 100%;
        border-top: 1px solid #494B7B;
        margin: 40px 0;
      }

      
