@import '~antd/dist/antd.css';

body {
  background-color: black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.infoboxshadow {
  box-shadow: 0px 47px 27px -24px rgba(9, 10, 19, 0.8);
}

.titlebox-blur {
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: saturate(180%) blur(20px);
}
.mobilenav-blur {
  background-color: rgb(0, 0, 0, 0.85);
  backdrop-filter: saturate(180%) blur(20px);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#nprogress .spinner {
  display: block !important;
  position: absolute !important;
  z-index: 1031;
  left: calc(50% - 60px) !important;
  top: calc(50% - 75px) !important;
  background: rgba(95, 107, 131, 0.7) !important;
  backdrop-filter: blur(20px) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  width: 120px !important;
  height: 150px !important;
  border-radius: 20px !important;
}

#nprogress .spinner-icon {
  width: 60px !important;
  position: absolute !important;
  height: 60px !important;
  box-sizing: border-box !important;
  left: calc(50% - 30px) !important;
  top: calc(50% - 30px) !important;
  border: solid 7px transparent !important;
  border-top-color: #fff !important;
  border-left-color: #fff !important;
  border-radius: 50% !important;

  -webkit-animation: nprogress-spinner 600ms linear infinite !important;
  animation: nprogress-spinner 600ms linear infinite !important;
}

.ant-card-loading-content {
  margin: 24px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.light-reward-pill {
  background: #eaeefa !important;
}

.minicoveragemap {
  height: 900px;
}

.ant-card-body {
  padding: 0;
}

p.stat {
  color: white;
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
}

.ant-tabs-tab {
  margin: 0 16px 0 16px;
}

p.stat span {
  color: white;
  margin-right: 10px;
  font-weight: 300;
  width: 170px;
  display: inline-block;
}

.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead > tr > th,
.ant-table.ant-table-small .ant-table-tbody > tr > td,
.ant-table.ant-table-small tfoot > tr > th,
.ant-table.ant-table-small tfoot > tr > td {
  padding: 12px 24px;
  white-space: nowrap;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #e9eaf2;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  white-space: nowrap;
}

.barchart {
  transform: rotate(90deg);
  margin: 0px 0;
  display: inline-block;
  width: 100%;
  transform-origin: bottom right;
  position: absolute;
  margin-top: -100%;
  left: -200px;
  height: 850px;
  background: none;
  bottom: 0;
  max-width: 200px;
}

.barchart .ant-table-tbody > tr > td {
  background: none !important;
  padding: 2px 0 !important;
  border: none !important;
}

.barchart thead {
  display: none;
}

.barchart .ant-table {
  background: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header {
  background: #1c1d3f;
  padding: 10px 20px;
  align-items: center;
}

.ant-layout {
  background: #e9eaf2;
}

.flexwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-table-small .ant-table-thead > tr > th {
  background-color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 12px;
}

a.button {
  padding: 12px 30px;
  background: #383a64;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
  transform: scale(1);
  display: inline-block;
}

a.button:hover {
  transform: scale(1.05);
  background: #454677;
}

.ant-tag {
  font-size: 12px;
  border: none;
  font-weight: 600;
  padding: 2px 10px 3px;
  border-radius: 4px;
  min-width: 106px;
  text-align: center;
}

h3 {
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1.81px;
  font-weight: 400;
  text-transform: uppercase;
}

.ant-table-container table > thead {
  font-family: 'Inter', sans-serif;
}

.ant-table table {
  width: 100% !important;
  min-width: 685px !important;
}

.show-xs {
  display: none;
}

.ant-descriptions-bordered .ant-descriptions-view > table {
  table-layout: fixed;
}

.ant-layout-footer {
  background: #27284b;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid #e9eaf2;
}

.ant-table-override
  > .ant-table-wrapper
  > .ant-spin-nested-loading
  > .ant-spin-container
  > .ant-table.ant-table-small {
  margin: 0;
}

.ant-table-cell-override > p {
  font-family: monospace;
}

hr {
  border: none;
  width: 100%;
  border-top: 1px solid #494b7b;
  margin: 40px 0;
}

.logo-small {
  display: none;
}

.logo-container {
  margin-right: 20px;
}

.map-button {
  min-width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

tr.ant-table-expanded-row-level-1 > td.ant-table-cell {
  padding: 0 !important;
}

.ant-descriptions-item-content p {
  display: table-cell;
}

.proof {
  padding-bottom: 12px;
  word-break: break-all;
}

.summarycardmaintitle {
  font-weight: 300;
  font-size: 46px;
  color: #262625;
}

.summarycardheader {
  text-transform: uppercase;
  font-size: 12px;
  color: #6d6ea0;
  margin: 0;
}

.block-view-summary-container {
  margin-top: 100px;
}

.summary-header > .ant-row > .ant-col-lg-12 {
  padding: 16px 24px;
}
.content-container {
  padding: 60px 20px 30px 20px;
}
.content-container-hotspot-view {
  padding: 0px 20px 20px 20px;
}
.content-container-txn-view {
  padding: 60px 20px 30px 20px;
}
.content-container-account-view {
  padding: 80px 20px 50px 20px;
}

.unselectable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mini-beacon-map {
  position: relative;
  display: block;
}
.mini-coverage-map {
  position: relative;
  display: block;
  border-radius: 6px;
}
.mini-beacon-map-overlay {
  display: block;
  background-color: #fff;
  opacity: 0;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  transition: opacity 0.2s ease;
}
.mini-coverage-map-overlay {
  display: block;
  background-color: #fff;
  opacity: 0;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  transition: opacity 0.2s ease;
}

.ant-table-thead > tr > th,
.ant-table-tbody > tr > td,
.ant-table tfoot > tr > th,
.ant-table tfoot > tr > td {
  padding: 6px 16px;
}

.mini-beacon-map:hover > .mini-beacon-map-overlay {
  opacity: 0.1;
}
.mini-beacon-map-interactive-text {
  position: absolute;
  top: calc(50% - 22px);
  text-align: center;
  width: 100%;
  z-index: 3;
  color: white;
  line-height: 1.1;
  opacity: 0;
  font-size: 22px;
  font-weight: 400;
  text-shadow: 0 0 10px darkslategray;
  display: block;
  transition: opacity 0.2s ease;
}
.mini-beacon-map:hover > .mini-beacon-map-interactive-text {
  opacity: 1;
}

.mini-coverage-map:hover > .mini-coverage-map-overlay {
  opacity: 0.1;
}
.mini-coverage-map-interactive-text {
  position: absolute;
  top: calc(50% - 22px);
  text-align: center;
  width: 100%;
  z-index: 3;
  color: white;
  line-height: 1.1;
  opacity: 0;
  font-size: 22px;
  font-weight: 400;
  text-shadow: 0 0 10px darkslategray;
  display: block;
  transition: opacity 0.2s ease;
}
.mini-coverage-map:hover > .mini-coverage-map-interactive-text {
  opacity: 1;
}

.mini-coverage-map .mapboxgl-canvas {
  border-radius: 6px;
}

.interactive-coverage-map {
  height: 100vh;
}

.interactive-coverage-map > .mapboxgl-map {
  position: absolute;
  height: 100vh;
  width: calc(100% - 400px) !important;
  overflow: hidden;
  top: 0;
  left: 400px;
  bottom: 0;
  right: 0;
}

.mapboxgl-canvas {
  outline: none;
}

.hotspot-name > h1 {
  line-height: 0.7;
}
.line-break-only-at-small {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.truncated {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: auto;
  padding-left: 10px;
}

.flex-responsive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-responsive.flexID {
  justify-content: center;
  flex-wrap: nowrap;
}

.block-view-clock-icon {
  margin-left: 16px;
}
.block-view-summary-info {
  order: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block-view-prev-button {
  order: 1;
  min-width: 175px;
  text-align: center;
}
.block-view-next-button {
  order: 3;
  min-width: 175px;
  text-align: center;
}

.block-view-summary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.green-spin .ant-spin-dot-item {
  background-color: #29d391;
}

.map-button {
  min-width: 127px;
}
.map-button-text {
  font-size: 14px;
}

.poc-participant-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 24px;
}
.poc-witness-receive-info {
  padding-left: 10px;
  color: #777;
  line-height: 42px;
}
.poc-participant-number-circle {
  color: white;
  width: 36px;
  min-width: 36px;
  height: 36px;
  min-height: 36px;
  border-radius: 36px;
  text-align: center;
  box-shadow: 0 0 15px #cccccc;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 0;
}
.poc-path-line {
  height: calc(100% + 49px);
  max-width: 3px;
  width: 3px;
  margin-left: 17px;
  margin-top: -25px;
  position: absolute;
}
.poc-witness-collapsable-panel .ant-collapse-content-box {
  padding-left: 0;
  padding-right: 0;
}
.poc-witness-collapsable-panel .ant-table-cell {
  padding-left: 20px;
  padding-right: 0px;
}
.poc-path-line-above {
  display: none;
}
.poc-witness-table-container {
  margin-left: 30px;
  background-color: '#eee';
}
.poc-witness-name {
  padding-left: 20px;
  font-size: 16px;
}
.poc-witness-info-header {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.poc-witness-table {
  padding-left: 0px;
}
.poc-witness-collapsable-panel {
  margin-bottom: 24px;
  margin-left: 24px;
}
.poc-participant-name {
  padding-left: 24px;
  font-size: 18px;
  line-height: 36px;
}

.tag-link {
  font-family: 'Inter', sans-serif !important;
}
.tag-link > .ant-tag:hover {
  cursor: pointer;
}

.inline-skeleton-override .ant-skeleton-title {
  margin: 0 !important;
  width: 100% !important;
}
.inline-skeleton-override .ant-skeleton-paragraph {
  margin: 0 !important;
}
.no-location-set {
  height: 400px;
  margin-bottom: 20px;
}

.inline-skeleton-override .ant-skeleton-title {
  margin: 0 !important;
  width: 100% !important;
}

.inline-skeleton-override .ant-skeleton-paragraph {
  margin: 0 !important;
}

.ant-table-styling-override .ant-pagination-options {
  margin-right: 20px;
}
.consensus-mapbox-marker {
  border: 3px solid #363abf;
}
.consensus-mapbox-hover-text {
  margin: 0;
  padding: 0;
  font-size: 12px;
  transition: all 150ms ease-in-out;
}

.consensus-mapbox-marker:hover .consensus-mapbox-hover-text {
  transform: translateY(-5px);
}

.earnings-chart-period-container {
  padding: 36px 36px 40px 36px;
}

.earnings-chart-period-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
.earnings-chart-container {
  display: flex;
  flex-direction: row;
  background-color: #f6f7fc;
  border-radius: 14px;
  padding: 32px;
  justify-content: space-between;
}
.earnings-chart-content {
  width: 50%;
  padding: 0 0 0 24px;
}

.ant-checkbox-override-purple .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5850eb !important;
  border-color: #5850eb !important;
}
.ant-checkbox-override-purple .ant-checkbox-checked::after {
  border: 1px solid #5850eb !important;
}

.ant-checkbox-override .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2e3750;
  border-color: #2e3750;
}
.ant-checkbox-override .ant-checkbox-checked::after {
  border: 1px solid #29d391;
}

@media screen and (max-width: 1200px) {
  .map-button {
    min-width: 0;
    font-size: 14px;
    margin-left: 12px;
    flex-direction: column;
    padding-left: 10px;
  }

  .map-button-text {
    display: none;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hotspot-checklist-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (max-width: 890px) {
  .block-view-summary-info {
    flex-direction: column;
  }

  .hidden-xs {
    display: none;
  }
  .block-view-clock-icon {
    margin-left: 0px;
  }
  .interactive-coverage-map > .mapboxgl-map {
    position: absolute;
    height: 30vh !important;
    width: 100% !important;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 576px) {
  .logo-container {
    margin-right: 12px;
  }

  .mini-coverage-map-interactive-text {
    opacity: 1;
  }

  .show-xs {
    display: block;
  }

  .block-view-summary-container {
    margin-top: 0px;
  }
  .block-view-summary-info {
    align-items: flex-start;
    order: -1;
    margin-bottom: 20px;
  }

  .ant-select-item-option-grouped {
    padding-left: 12px;
  }

  .earnings-chart-container {
    padding: 10px 20px 0px 20px;
    border-radius: 6px;
  }

  .flexwhensm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .summarycardmaintitle {
    font-weight: 300;
    font-size: 26px;
    color: #262625;
  }

  .summarycardheader {
    display: inline-block;
  }

  .earnings-chart-period-wrapper {
    gap: 6px;
  }

  .truncated100xs {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    word-break: normal;
    display: inline-block;
    position: relative;
  }

  .logo-full {
    display: none;
  }
  .logo-small {
    display: block;
  }

  .summary-header {
    margin-bottom: 0px;
  }
  .header {
    padding: 12px;
  }
  .content-container {
    padding: 30px 12px 30px 12px;
  }
  .content-container-account-view {
    padding: 50px 20px 20px 20px;
  }
  .content-container-hotspot-view {
    padding: 0px;
  }
  .content-container-hotspot-view > .mapboxgl-map {
    height: 200px;
  }
  .no-location-set {
    height: 200px;
  }
  #hotspot-checklist-container {
    border-radius: 0px;
  }
  .hotspot-checklist-padding-container {
    padding: 0 0;
  }
  .hotspot-checklist-progress-bar-container {
    padding: 0 15px;
  }
  #hotspot-checklist-inner-shadow {
    border-radius: 0 0 0 0;
  }

  .hotspot-name > h1 {
    line-height: 1;
  }
  .flex-responsive {
    flex-direction: column;
  }
  .block-view-summary-info {
    width: 100%;
    order: 1;
    padding-bottom: 0px;
  }
  .block-view-prev-button {
    order: 2;
    max-width: 49%;
    padding: 6px;
  }

  .block-view-next-button {
    min-width: 170px;
    min-width: 49%;
    order: 3;
  }

  .block-view-prev-button,
  .block-view-next-button {
    min-width: 45%;
  }

  .ant-input-suffix {
    display: none;
  }
  .poc-participant-row {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .poc-witness-receive-info {
    padding-left: 40px;
    color: #777;
    line-height: 24px;
    padding-bottom: 10px;
  }
  .poc-path-line {
    height: 24px;
  }

  .poc-path-line-with-info {
    height: 58px !important;
    margin-top: -58px !important;
  }
  .poc-path-line-above {
    display: block;
    position: absolute;
    height: 48px;
    min-width: 3px;
    margin-left: 17px;
    width: 3px;
    margin-top: -48px;
  }
  .poc-witness-table-container {
    margin-left: 0px;
  }
  .poc-witness-table {
    padding-left: 0px;
  }
  .poc-witness-collapsable-panel {
    margin-bottom: 24px;
    margin-left: 0px;
  }
  .poc-witness-name {
    padding-left: 12px;
  }
  .poc-witness-collapsable-panel .ant-table-cell {
    padding-left: 12px;
    padding-right: 0px;
  }
  .poc-witness-info-header {
    font-size: 10px;
  }
  .poc-witness-info-table-container .ant-table-cell {
    font-size: 10px;
  }
  .poc-participant-name {
    padding-left: 18px;
  }

  .ant-table.ant-table-small .ant-table-title,
  .ant-table.ant-table-small .ant-table-footer,
  .ant-table.ant-table-small .ant-table-thead > tr > th,
  .ant-table.ant-table-small .ant-table-tbody > tr > td,
  .ant-table.ant-table-small tfoot > tr > th,
  .ant-table.ant-table-small tfoot > tr > td {
    padding: 6px 10px;
  }

  .earnings-chart-period-container {
    padding: 24px;
  }
  .earnings-chart-container {
    flex-direction: column;
  }
  .earnings-chart-content {
    width: 100%;
    padding: 24px 0 0 0;
  }
}

.hidden-width {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.consensus_map__zoom_buttons {
  box-shadow: none !important;
  border: none !important;
}

.consensus_map__zoom_buttons button,
.reset-zoom-button button {
  height: 50px !important;
  width: 50px !important;
  font-size: 24px !important;
  text-align: center !important;
  border-radius: 50px !important;
  right: 20px !important;
  z-index: 3 !important;
  border: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  background-color: rgb(12, 21, 30) !important;
  color: white !important;
  transition: all 0.3s !important;
  background-size: 50px 500px !important;
  background-image: none !important;
  opacity: 1 !important;
  margin-bottom: 1rem;
}

.overflow-mask-fix {
  /*
 * There's a bug in Chrome/Safari using overflow:hidden with border-radius. This mask fixes it. 
 * Solution: http://stackoverflow.com/questions/5736503/how-to-make-css3-rounded-corners-hide-overflow-in-chrome-opera/10296258#10296258
 */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

.consensus_map__zoom_buttons #zoomIn::after {
  content: '+';
}

.consensus_map__zoom_buttons #zoomOut::after {
  content: '-';
}

.consensus_map__zoom_buttons button:hover,
.reset-zoom-button button:hover {
  transform: scale(1.1, 1.1);
}

/* Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.zoom-controls #zoomIn::after {
  content: '+';
}
.zoom-controls #zoomOut::after {
  content: '-';
}
.zoom-controls #zoomIn::after,
.zoom-controls #zoomOut::after {
  font-size: 16px;
  font-family: 'Inter';
  color: white;
}

.zoom-controls #zoomIn {
  border-radius: 10px 10px 0 0 !important;
}
.zoom-controls #zoomOut {
  border-radius: 0 0 10px 10px !important;
}
.zoom-controls #zoomIn,
.zoom-controls #zoomOut {
  background-color: rgba(16, 23, 37, 0.75) !important;
  backdrop-filter: saturate(180%) blur(20px);
  width: 30px !important;
  height: 30px !important;
  background-image: none !important;
  box-shadow: none !important;
  opacity: 100% !important;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .zoom-controls #zoomIn,
  .zoom-controls #zoomOut {
    width: 40px !important;
    height: 40px !important;
  }

  .zoom-controls #zoomIn::after,
  .zoom-controls #zoomOut::after {
    font-size: 18px;
  }
}
