@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-card-loading-content {
  margin: 24px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-card-body {
  padding: 0;
}

p.stat {
  color: white;
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
}

p.stat span {
  color: white;
  margin-right: 10px;
  font-weight: 300;
  width: 170px;
  display: inline-block;
}

.bottombar {
  width: 100%;
  background-color: #1c1d3f;
  padding: 20px;
  text-align: center;
}

.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead > tr > th,
.ant-table.ant-table-small .ant-table-tbody > tr > td,
.ant-table.ant-table-small tfoot > tr > th,
.ant-table.ant-table-small tfoot > tr > td {
  padding: 12px 24px;
}

.ant-table-tbody > tr > td {
  border-bottom: 2px solid #e9eaf2;
}

.barchart {
  transform: rotate(90deg);
  margin: 0px 0;
  display: inline-block;
  width: 100%;
  transform-origin: bottom right;
  position: absolute;
  margin-top: -100%;
  left: -200px;
  height: 850px;
  background: none;
  bottom: 0;
  max-width: 200px;
}

.barchart .ant-table-tbody > tr > td {
  background: none !important;
  padding: 2px 0 !important;
  border: none !important;
}

.barchart thead {
  display: none;
}

.barchart .ant-table {
  background: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header {
  background: #1c1d3f;
  padding: 10px 20px;
  align-items: center;
}

.ant-layout {
  background: #e9eaf2;
}

.flexwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-table.ant-table-small td a {
  font-family: monospace;
}

.ant-table-small .ant-table-thead > tr > th {
  background-color: white;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
}

a.button {
  padding: 12px 30px;
  background: #383a64;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
  transform: scale(1);
  display: inline-block;
}

a.button:hover {
  transform: scale(1.05);
  background: #454677;
}

.ant-tag {
  font-size: 12px;
  border: none;
  font-weight: 600;
  padding: 2px 10px 3px;
  border-radius: 4px;
  min-width: 106px;
  text-align: center;
}

h3 {
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1.81px;
  font-weight: 400;
  text-transform: uppercase;
}

.ant-table-container table > thead {
  font-family: soleil, sans-serif;
}

.ant-descriptions-bordered .ant-descriptions-view > table {
  table-layout: fixed;
}

.ant-layout-footer {
  background: #27284b;
}

.ant-table-thead > tr > th {
  border-bottom: 2px solid #e9eaf2;
}

.ant-table-override
  > .ant-table-wrapper
  > .ant-spin-nested-loading
  > .ant-spin-container
  > .ant-table.ant-table-small {
  margin: 0;
}

.ant-table-cell-override > p {
  font-family: monospace;
}

hr {
  border: none;
  width: 100%;
  border-top: 1px solid #494b7b;
  margin: 40px 0;
}

.logo-small {
  display: none;
}

.logo-container {
  margin-right: 20px;
}

.block-height {
  min-width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.ant-descriptions-item-content p {
  display: table-cell;
}

.proof {
  padding-bottom: 12px;
  word-break: break-all;
}

.summary-header {
  margin-bottom: 100px;
}
.summary-header > .ant-row > .ant-col-lg-12 {
  padding: 16px 24px;
}
.content-container {
  padding: 60px 20px 30px 20px;
}
.content-container-hotspot-view {
  padding: 0px 20px 50px 20px;
}
.content-container-txn-view {
  padding: 60px 20px 30px 20px;
}
.content-container-account-view {
  padding: 80px 20px 50px 20px;
}
.content-container-hotspot-view > .mapboxgl-map {
  height: 400px;
}
.hotspot-name > h1 {
  line-height: 0.7;
}
.line-break-only-at-small {
  display: none;
}

.flex-responsive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block-view-clock-icon {
  margin-left: 16px;
}
.block-view-summary-info {
  order: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block-view-prev-button {
  order: 1;
  min-width: 175px;
  text-align: center;
}
.block-view-next-button {
  order: 3;
  min-width: 175px;
  text-align: center;
}

.block-view-summary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hotspot-checklist-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hotspot-checklist-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hotspot-checklist-nav-button {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 63.5px;
  height: 40px;
  min-width: 40px;
  width: 40px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: #35375c;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.hotspot-checklist-nav-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .block-view-summary-info {
    flex-direction: column;
  }
  .block-view-clock-icon {
    margin-left: 0px;
  }
}
@media screen and (max-width: 640px) {
  .logo-container {
    margin-right: 12px;
  }
  .logo-full {
    display: none;
  }
  .logo-small {
    display: block;
  }
  .block-height {
    min-width: auto;
    font-size: 14px;
    height: 10px;
    margin-left: 12px;
    flex-direction: column;
  }
  .summary-header {
    margin-bottom: 0px;
  }
  .header {
    padding: 12px;
  }
  .content-container {
    padding: 30px 12px 30px 12px;
  }
  .content-container-account-view {
    padding: 50px 20px 20px 20px;
  }
  .content-container-hotspot-view {
    padding: 20px;
  }
  .content-container-hotspot-view > .mapboxgl-map {
    height: 200px;
  }
  .hotspot-name > h1 {
    line-height: 1;
  }
  .line-break-only-at-small {
    display: block;
  }
  .flex-responsive {
    flex-direction: column;
  }
  .block-view-summary-info {
    width: 100%;
    order: 1;
    padding-bottom: 30px;
  }
  .block-view-prev-button {
    order: 2;
    min-width: 49%;
    padding: 6px;
  }
  .block-view-next-button {
    min-width: 170px;
    min-width: 49%;
    order: 3;
  }
  .ant-input-suffix {
    display: none;
  }
}
