@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ant-card-loading-content {
  margin: 24px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ant-card-body {
  padding: 0;
}

p.stat {
  color: white;
  margin: 0;
  margin-bottom: 3px;
  font-weight: 500;
}

p.stat span {
  color: white;
  margin-right: 10px;
  font-weight: 300;
  width: 170px;
  display: inline-block;
}

.ant-table.ant-table-small .ant-table-title,
.ant-table.ant-table-small .ant-table-footer,
.ant-table.ant-table-small .ant-table-thead > tr > th,
.ant-table.ant-table-small .ant-table-tbody > tr > td,
.ant-table.ant-table-small tfoot > tr > th,
.ant-table.ant-table-small tfoot > tr > td {
  padding: 12px 24px;
}

.ant-table-tbody > tr > td {
  border-bottom: 1px solid #e9eaf2;
}

.barchart {
  transform: rotate(90deg);
  margin: 0px 0;
  display: inline-block;
  width: 100%;
  transform-origin: bottom right;
  position: absolute;
  margin-top: -100%;
  left: -200px;
  height: 850px;
  background: none;
  bottom: 0;
  max-width: 200px;
}

.barchart .ant-table-tbody > tr > td {
  background: none !important;
  padding: 2px 0 !important;
  border: none !important;
}

.barchart thead {
  display: none;
}

.barchart .ant-table {
  background: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-layout-header {
  background: #1c1d3f;
  padding: 10px 20px;
  align-items: center;
}

.ant-layout {
  background: #e9eaf2;
}

.flexwrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ant-table-small .ant-table-thead > tr > th {
  background-color: white;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0px;
  font-size: 12px;
}

a.button {
  padding: 12px 30px;
  background: #383a64;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  transition: all 0.2s ease;
  transform: scale(1);
  display: inline-block;
}

a.button:hover {
  transform: scale(1.05);
  background: #454677;
}

.ant-tag {
  font-size: 12px;
  border: none;
  font-weight: 600;
  padding: 2px 10px 3px;
  border-radius: 4px;
  min-width: 106px;
  text-align: center;
}

h3 {
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1.81px;
  font-weight: 400;
  text-transform: uppercase;
}

.ant-table-container table > thead {
  font-family: 'Inter', sans-serif;
}

.ant-descriptions-bordered .ant-descriptions-view > table {
  table-layout: fixed;
}

.ant-layout-footer {
  background: #27284b;
}

.ant-table-thead > tr > th {
  border-bottom: 1px solid #e9eaf2;
}

.ant-table-override
  > .ant-table-wrapper
  > .ant-spin-nested-loading
  > .ant-spin-container
  > .ant-table.ant-table-small {
  margin: 0;
}

.ant-table-cell-override > p {
  font-family: monospace;
}

hr {
  border: none;
  width: 100%;
  border-top: 1px solid #494b7b;
  margin: 40px 0;
}

.logo-small {
  display: none;
}

.logo-container {
  margin-right: 20px;
}

.map-button {
  min-width: 127px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

.ant-descriptions-item-content p {
  display: table-cell;
}

.proof {
  padding-bottom: 12px;
  word-break: break-all;
}

.summary-header > .ant-row > .ant-col-lg-12 {
  padding: 16px 24px;
}
.content-container {
  padding: 60px 20px 30px 20px;
}
.content-container-hotspot-view {
  padding: 0px 20px 20px 20px;
}
.content-container-txn-view {
  padding: 60px 20px 30px 20px;
}
.content-container-account-view {
  padding: 80px 20px 50px 20px;
}
.content-container-hotspot-view > .mapboxgl-map {
  height: 400px;
}

.unselectable-text {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mini-coverage-map {
  position: relative;
  display: block;
  border-radius: 6px;
}
.mini-coverage-map-overlay {
  display: block;
  background-color: #fff;
  opacity: 0;
  border-radius: 6px;
  position: absolute;
  z-index: 2;
  height: 500px;
  width: 100%;
}
.mini-coverage-map:hover > .mini-coverage-map-overlay {
  opacity: 0.1;
  transition: opacity 0.2s ease;
}
.mini-coverage-map-interactive-text {
  position: absolute;
  top: calc(50% - 24px);
  text-align: center;
  width: 100%;
  z-index: 3;
  color: white;
  opacity: 0;
  font-size: 24px;
  font-weight: 400;
  text-shadow: 0 0 10px darkslategray;
  display: block;
}
.mini-coverage-map:hover > .mini-coverage-map-interactive-text {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.mini-coverage-map .mapboxgl-canvas {
  border-radius: 6px;
}

.interactive-coverage-map > .mapboxgl-map {
  /* position: absolute; */
  height: 100vh;
}

.hotspot-name > h1 {
  line-height: 0.7;
}
.line-break-only-at-small {
  display: none;
}

.flex-responsive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.block-view-clock-icon {
  margin-left: 16px;
}
.block-view-summary-info {
  order: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.block-view-prev-button {
  order: 1;
  min-width: 175px;
  text-align: center;
}
.block-view-next-button {
  order: 3;
  min-width: 175px;
  text-align: center;
}

.block-view-summary-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.green-spin .ant-spin-dot-item {
  background-color: #29d391;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
.map-button {
  min-width: 127px;
}
.map-button-text {
  font-size: 14px;
}

.poc-participant-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 24px;
}
.poc-witness-receive-info {
  padding-left: 10px;
  color: #777;
  line-height: 42px;
}
.poc-participant-number-circle {
  color: white;
  width: 36px;
  min-width: 36px;
  height: 36px;
  min-height: 36px;
  border-radius: 36px;
  text-align: center;
  box-shadow: 0 0 15px #cccccc;
  display: flex !important;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin-bottom: 0;
}
.poc-path-line {
  height: calc(100% + 49px);
  max-width: 3px;
  width: 3px;
  margin-left: 17px;
  margin-top: -25px;
  position: absolute;
}
.poc-witness-collapsable-panel .ant-collapse-content-box {
  padding-left: 0;
  padding-right: 0;
}
.poc-witness-collapsable-panel .ant-table-cell {
  padding-left: 20px;
  padding-right: 0px;
}
.poc-path-line-above {
  display: none;
}
.poc-witness-table-container {
  margin-left: 30px;
  background-color: '#eee';
}
.poc-witness-name {
  padding-left: 20px;
  font-size: 16px;
}
.poc-witness-info-header {
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.poc-witness-table {
  padding-left: 0px;
}
.poc-witness-collapsable-panel {
  margin-bottom: 24px;
  margin-left: 24px;
}
.poc-participant-name {
  padding-left: 24px;
  font-size: 18px;
  line-height: 36px;
}

.tag-link {
  font-family: 'Inter', sans-serif !important;
}
.tag-link > .ant-tag:hover {
  cursor: pointer;
}

.inline-skeleton-override .ant-skeleton-title {
  margin: 0 !important;
  width: 100% !important;
}
.inline-skeleton-override .ant-skeleton-paragraph {
  margin: 0 !important;
}
.no-location-set {
  height: 400px;
}

.inline-skeleton-override .ant-skeleton-title {
  margin: 0 !important;
  width: 100% !important;
}

.inline-skeleton-override .ant-skeleton-paragraph {
  margin: 0 !important;
}

@media screen and (max-width: 1200px) {
  .map-button {
    min-width: 0;
    font-size: 14px;
    margin-left: 12px;
    flex-direction: column;
    padding-left: 10px;
  }

  .map-button-text {
    display: none;
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hotspot-checklist-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hotspot-checklist-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#hotspot-checklist-container {
  border-radius: 20px;
}

.hotspot-checklist-padding-container {
  padding: 0 20px;
}

#hotspot-checklist-inner-shadow {
  border-radius: 0 20px 20px 0;
}

.hotspot-checklist-progress-bar-container {
  padding: 0 20px;
}

.hotspot-checklist-progress-bar-slice:hover {
  cursor: pointer;
}

.hotspot-checklist-nav-button {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 63.5px;
  height: 40px;
  min-width: 40px;
  width: 40px;
  border-radius: 30px;
  outline: none;
  border: none;
  background-color: #35375c;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.hotspot-checklist-nav-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 890px) {
  .block-view-summary-info {
    flex-direction: column;
  }
  .block-view-clock-icon {
    margin-left: 0px;
  }
  .interactive-coverage-map > .mapboxgl-map {
    position: absolute;
    height: 50vh;
  }
}

@media screen and (max-width: 640px) {
  .logo-container {
    margin-right: 12px;
  }
  .logo-full {
    display: none;
  }
  .logo-small {
    display: block;
  }

  .summary-header {
    margin-bottom: 0px;
  }
  .header {
    padding: 12px;
  }
  .content-container {
    padding: 30px 12px 30px 12px;
  }
  .content-container-account-view {
    padding: 50px 20px 20px 20px;
  }
  .content-container-hotspot-view {
    padding: 20px;
  }
  .content-container-hotspot-view > .mapboxgl-map {
    height: 200px;
  }
  .no-location-set {
    height: 200px;
  }
  #hotspot-checklist-container {
    border-radius: 0px;
  }
  .hotspot-checklist-padding-container {
    padding: 0 0;
  }
  .hotspot-checklist-progress-bar-container {
    padding: 0 15px;
  }
  #hotspot-checklist-inner-shadow {
    border-radius: 0 0 0 0;
  }

  .hotspot-name > h1 {
    line-height: 1;
  }
  .line-break-only-at-small {
    display: block;
  }
  .flex-responsive {
    flex-direction: column;
  }
  .block-view-summary-info {
    width: 100%;
    order: 1;
    padding-bottom: 0px;
  }
  .block-view-prev-button {
    order: 2;
    min-width: 49%;
    padding: 6px;
  }
  .block-view-next-button {
    min-width: 170px;
    min-width: 49%;
    order: 3;
  }
  .ant-input-suffix {
    display: none;
  }
  .poc-participant-row {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .poc-witness-receive-info {
    padding-left: 40px;
    color: #777;
    line-height: 24px;
    padding-bottom: 10px;
  }
  .poc-path-line {
    height: 24px;
  }

  .poc-path-line-with-info {
    height: 58px !important;
    margin-top: -58px !important;
  }
  .poc-path-line-above {
    display: block;
    position: absolute;
    height: 48px;
    min-width: 3px;
    margin-left: 17px;
    width: 3px;
    margin-top: -48px;
  }
  .poc-witness-table-container {
    margin-left: 0px;
  }
  .poc-witness-table {
    padding-left: 0px;
  }
  .poc-witness-collapsable-panel {
    margin-bottom: 24px;
    margin-left: 0px;
  }
  .poc-witness-name {
    padding-left: 12px;
  }
  .poc-witness-collapsable-panel .ant-table-cell {
    padding-left: 12px;
    padding-right: 0px;
  }
  .poc-witness-info-header {
    font-size: 10px;
  }
  .poc-witness-info-table-container .ant-table-cell {
    font-size: 10px;
  }
  .poc-participant-name {
    padding-left: 18px;
  }
}

.hidden-width {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}
